{{ attach_library('notification_bar/notification_bar') }}

<section class="notification_bar urgent" style="display: none;">
  <div class="container">
    <div class="row">
      {% if url %}
        <div class="match col-xs-10 col-sm-8 col-md-9 message"><div class="vtable"><div class="vcell"><span class="text">{{ message }}</span></div></div></div>
        <div class="match col-xs-1 col-sm-1 col-sm-push-3 col-md-push-2 dismiss"><span class="x">×</span></div>
        <div class="match col-xs-12 col-sm-3 col-sm-pull-1 col-md-2 cta"><div class="vtable"><div class="vcell"><a class="btn" href="{{ url }}">{{ button_text|default('Learn more') }}</a></div></div></div>
      {% else %}
        <div class="match col-xs-10 col-sm-11 message"><span class="text">{{ message }}</span></div>
        <div class="match col-xs-1 dismiss"><span class="text"><span class="x">×</span></span></div>
      {% endif %}
    </div>
  </div>
</section>
